@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #9187B0;
    background: url(classy-fabric.png), linear-gradient(to left, #debfe0, #B4A5D1, #B1B8E6), no-repeat;
    background-size: inherit;
    overflow-x: hidden;
    margin-bottom: 0;
    min-height: 100%
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #FFDFD3;
    position: relative;
    bottom: 8em;
}

.about-section2 {
    position: relative;
    bottom: 9em;
}

p {
    font-size: 25px;
    color: #FFDFD3;
    text-shadow: 1px 1px 5px #50336D;
    text-align: center;
    position: relative;
    bottom: 7em;
    left: 1em;
    width: 30%;
    height: 80%;
}

.greeting {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    color: #02c7c9;
    text-shadow: 1px 1px 5px #50336D;
    width: 34%;
    padding-left: 0.2em;
    position: relative;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 40px;
    color: #FFDFD3;
    text-shadow: 1px 1px 4px #50336D;
    position: relative;
    right: 10.5em;
    bottom: 7em;
}

.profile {
    width: 10em;
    height: 12em;
    border: 2px solid #B1B8E6;
    border-radius: 10em;
    position: relative;
    right: 26em;
    top: 2em;
}


/* Animation */

.woman {
    margin-right: 0;
    box-sizing: content-box;
    width: 30em;
    position: relative;
    bottom: 65em;
    left: 49em;
    overflow: hidden;
}


/* Buttons */

.buttons {
    position: relative;
    bottom: 38em;
    left: 25em;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    overflow: hidden;
}

button {
    width: 8em;
    height: 3em;
    font-size: 25px;
    color: #d291bc;
    text-shadow: 1px 1px 0.5px #50336D;
    border-radius: 1em;
    border: none;
    background-color: #FFDFD3;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #d291bc;
    color: #FFDFD3;
}


/* Contact Me section */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
    position: relative;
    bottom: 90em;
    left: 22em;
}

#github,
#linkedin {
    width: 3em;
    fill: #9187B0;
}


/* Skills Section */

#skill-section {
    position: relative;
    bottom: 23em;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1.5px solid #50336D;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    color: #02c7c9;
    text-shadow: 1px 1px 5px #50336D;
}

.skills,
.skills2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    right: 5em;
}

.skills {
    position: relative;
    bottom: 75em;
}

.skills2 {
    position: relative;
    bottom: 67em;
    left: 1em;
}

.skill-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #B1B8E6;
    width: 10%;
    height: 8em;
    background-color: #50336D;
    border-radius: 2em;
    padding-top: 0.5em;
}

h4 {
    font-size: 20px;
    color: #FFDFD3;
    text-shadow: 1px 1px 5px #50336D;
    position: relative;
    bottom: 0.5em;
}


/* Projects */

#project-section {
    position: relative;
    bottom: 20em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1.5px solid #50336D;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    color: #02c7c9;
    text-shadow: 1px 1px 5px #50336D;
}


/* Project 1 */

.github-icon {
    width: 5em;
    position: relative;
    bottom: 93em;
    left: 37em;
}

#sodelicious,
#portfolio-screenshot {
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 3px solid #02c7c9;
}

#sodelicious {
    position: relative;
    bottom: 60em;
    left: 5em;
}

.project-1-about {
    position: relative;
    bottom: 50em;
    left: 30em;
}


/* Project 2 */

#portfolio-screenshot {
    position: relative;
    bottom: 55em;
}

.project-2-about {
    position: relative;
    bottom: 50em;
    left: 30em;
}

.github-icon2 {
    width: 5em;
    position: relative;
    bottom: 63em;
    left: 2em;
}

.coming-soon {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 5em;
    font-size: 50px;
    color: #50336D;
}

@media screen and (max-width: 600px) {
    body {
        background: url(classy-fabric.png), linear-gradient(to left, #debfe0, #B4A5D1, #B1B8E6), no-repeat;
        overscroll-behavior-y: hidden;
    }
    .greeting {
        font-size: 2em;
        padding-bottom: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        left: 2em;
    }
    .profile {
        right: 0em;
        top: 1.5em;
        width: 8em;
        height: 10em;
    }
    h2 {
        right: 0em;
        bottom: 5.5em;
    }
    p {
        left: 3.5em;
        bottom: 10.5em;
        width: 10em;
        font-size: 20px;
    }
    .contact {
        left: 2em;
        bottom: 30em;
        flex-direction: column;
    }
    .buttons {
        flex-direction: row;
        justify-content: space-evenly;
        width: 15em;
        padding: 1em;
        bottom: 14em;
        left: 3em;
    }
    button {
        width: 4em;
        font-size: 19px;
    }
    /* Skill section */
    #skill-section {
        padding-top: 0.5em;
        right: 0em;
        bottom: 9.5em;
    }
    .skills {
        right: 0em;
        left: 2em;
        bottom: 35em;
        flex-wrap: wrap;
        /* border: solid 1px red; */
        width: 17em;
        height: 16em;
        justify-content: space-evenly;
    }
    .skills2 {
        left: 2em;
        bottom: 34em;
        width: 17em;
    }
    .skill-icons {
        width: 4.5em;
        height: 5.5em;
        padding: 0.3em;
    }
    h4 {
        font-size: 17px;
    }
    .skill-svg {
        width: 2em;
    }
    .woman {
        display: none;
    }
    /* Projects */
    #project-section {
        top: -10em;
    }
    #sodelicious {
        top: 0em;
        width: 15em;
        height: 10em;
        top: -30em;
        left: 1em;
    }
    #portfolio-screenshot {
        top: -22em;
        width: 15em;
        height: 10em;
        left: -2em;
    }
    .github-icon {
        width: 3em;
        bottom: 26em;
        left: 17em;
    }
    .github-icon2 {
        width: 3em;
        left: -1em;
        bottom: 49em;
    }
    .project-1-about {
        bottom: 25em;
        left: 2em;
    }
    .project-2-about {
        bottom: 18em;
        left: 2em;
    }
}