@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
* {
    box-sizing: border-box;
    /* border: solid red 1px; */
}

#root {
    display: inline;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background: #CBC195;
    margin-left: 5em;
    margin-right: 5em;
    max-width: 100vw;
    max-height: 100vh;
}

header {
    display: flex;
    border-bottom: 2px solid #6B633E;
    justify-content: center;
}

h1,
h2,
p {
    color: #34301f;
}

h2 {
    font-size: 55px;
    width: 7em;
    position: relative;
    bottom: 2em;
    left: 1em;
}

.name,
.projects {
    margin-right: 10em;
}

.projects,
.contact {
    position: relative;
    top: 1em;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #34301f;
}

.projects {
    left: 6em;
}

a:hover {
    color: #9A6F4D;
}

.about {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #6B633E;
    width: 60%;
    height: 85vh;
    align-items: left;
    justify-content: center;
    position: relative;
    top: 3em;
}

.blurb {
    font-size: 20px;
    color: #34301f;
    width: 15em;
    border-radius: 15px;
    text-align: center;
    position: relative;
    bottom: 7em;
    left: 3.5em;
}

.aboutme {
    font-size: 25px;
    color: #34301f;
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5.5em;
    left: 5em;
}

.socials {
    width: 13%;
    position: relative;
    bottom: 9em;
    left: 9.5em;
    display: flex;
    justify-content: space-between;
}

.github-icon,
.linkedin-icon {
    width: 4em;
    padding: 0.5em;
}


/* Animation */

.woman {
    margin-right: 0;
    box-sizing: content-box;
    width: 18em;
    position: relative;
    bottom: 28em;
    /* border: 1px solid red; */
    left: 23.2em;
    overflow: hidden;
}

.toggle {
    cursor: pointer;
    width: 4em;
    position: relative;
    bottom: 55em;
    left: 65em;
}


/* Skills */

.skill-svg {
    width: 6em;
}

.skills,
.skills2 {
    display: flex;
    position: relative;
    width: 28em;
    left: 42em;
    bottom: 50em;
}

.skills2 {
    padding-top: 3em;
    padding-left: 3em;
}

.skill-icons {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.skill-titles {
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
}